name: Add sponsorship

on:
  schedule:
    - cron: '* * 30 * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: commit the sponsorship data

    steps:
      - name: checkput main branch
        uses: actions/checkout@v3
      - name: Fetch Sponsorships and commit
        uses: santoshyadavdev/sponsorship-green-squares@main
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          allow-add-to-readme: 'true'
